<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel="stylesheet" href="../static/about.css" />
  </head>
  <body>
    <div id="about-container">
      <header>
        <div class="logo">Borge</div>
        <div class="nav-items">
          <a href="index.html">Home</a>
          <a href="about.html">About</a>
          <a href="resume.html">Resume</a>
          <a href="portfolio.html">Portfolio</a>
          <a href="contact.html">Contact</a>
        </div>
      </header>

      <div class="title">
        <h1>Emmanuel Tanierla Jr</h1>
      </div>

      <div class="title-main">
        <p>
          I discovered the importance of education during my college years as an
          Electronics and Communication student. Although I almost became an
          engineer, I chose a different path, using that experience to push
          myself further. I found success in the sales industry and earned a
          Master’s in Business Administration. Recently, I realized I needed a
          new challenge and decided to pursue a career as a Full-Stack Web
          Developer.
        </p>
      </div>
    </div>
  </body>
</html>
