<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="../static/contact.css">
  </head>
  <body>
    <div id="contact-container">
      <header>
        <div class="logo">Borge</div>
        <div class="nav-items">
          <a href="index.html">Home</a>
          <a href="about.html">About</a>
          <a href="resume.html">Resume</a>
          <a href="portfolio.html">Portfolio</a>
          <a href="contact.html">Contact</a>
        </div>
      </header>
      <main>
        <h1>Contact Me</h1>
      </main>
      <footer>
       <div class="item">
        <img src="../icons/icons8-email-100.png" alt="email" height="50" width="50">
        <h3>EMAIL</h3>
        <h6>bonznia@yahoo.com</h6>
       </div>
       <div class="item">
        <img src="../icons/icons8-phone-100.png" alt="phone" height="50" width="50">
        <h3>PHONE</h3>
        <h6>+639171383195</h6>
       </div>
       <div class="item">
        <img src="../icons/icons8-linkedin-100.png" alt="linkedin" height="50" width="50">
        <h3>LINKEDIN</h3>
        <h6>https://www.linkedin.com/in/ <br>emmanuel-jr-tanierla/</h6>
       </div>
       <div class="item">
        <img src="../icons/icons8-github-100.png" alt="github"height="50" width="50">
        <h3>GITHUB</h3>
        <h6>https://github.com/BorgeTanierla</h6>
       </div>
      </footer>
  </body>
</html>






