<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/home.css" />
  </head>
  <body>
    <div id="home-container">
      <header>
        <div class="logo">Borge</div>
        <div class="nav-items">
          <a href="index.html">Home</a>
          <a href="about.html">About</a>
          <a href="resume.html">Resume</a>
          <a href="portfolio.html">Portfolio</a>
          <a href="contact.html">Contact</a>
        </div>
      </header>
      <main>
        <h1>I'm <span>Emmanuel</span></h1>
        <img
          src="../img/profile.jpg"
          alt="profile"
          width="350px"
          height="350px"
        />
      </main>
    </div>
  </body>
</html>
