<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/portfolio.css">
  </head>
  <body>
    <div id="portfolio-container">
      <header>
        <div class="logo">Borge</div>
        <div class="nav-items">
          <a href="index.html">Home</a>
          <a href="about.html">About</a>
          <a href="resume.html">Resume</a>
          <a href="portfolio.html">Portfolio</a>
          <a href="contact.html">Contact</a>
        </div>
      </header>
      <div class="main">
        <div class="item-1">
          <h3>Capstone-project1</h3>
          <a href="https://borgetanierla.github.io/Capstone-Project1/"><img src="../img/capstone-project_1.jpeg" alt="Capstone-Project1" height="500px" width="250px"></a>
        </div>  
        <div class="item-2">
          <h3>Html-portfolio</h3>
          <a href="https://borgetanierla.github.io/html-Portfolio/"><img src="../img/html.portfolio.jpeg" alt="html-Portfolio" height="500px" width="250px"></a>
        </div>
        <div class="item-3">
          <h3>bootstrap-project</h3>
          <a href="https://borgetanierla.github.io/TinDog-Bootstrap-Project/"><img src="../img/bootstrap-project.jpeg" alt="TinDog-Bootstrap-Project" height="500px" width="250px"></a>
        </div>   
    </div>    
  </body>
</html>
