<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="../static/resume.css" />
  </head>
  <body>
    <div id="resume-container">
      <header>
        <div class="logo">Borge</div>
        <div class="nav-items">
          <a href="index.html">Home</a>
          <a href="about.html">About</a>
          <a href="resume.html">Resume</a>
          <a href="portfolio.html">Portfolio</a>
          <a href="contact.html">Contact</a>
        </div>
      </header>
      <div class="profile">
        <h1>Emmanuel Tanierla Jr</h1>
        <img src="../img/resume.jpg" alt="profile" width="200" />
      </div>
      <div class="summary">
        <h2>Summary</h2>
        <p>
          I'm a hardworking individual with <br />
          a desire to provide excellent service on a consistent basis. <br />
          A well-organized person, creative, highly goal-oriented, <br />
          who thrives well in a dynamic and fast-paced environment.
        </p>
      </div>
      <div class="education">
        <h2>Education</h2>
        <ul>
          <li>MBA, University of San Agustin, Iloilo City.</li>
          <li>
            BSc in Electronics and Communications Engineering, <br />Central
            Philippine University, Iloilo City.
          </li>
        </ul>
      </div>
      <div class="experience">
        <h2>Work Experience</h2>
        <h3>
          Marketing Manager, Biopro Pharma Corporation, <br />
          January 2015 – Present.
        </h3>
        <ul>
          <li>
            Organize a meeting with management and senior <br />
            executives to devise new sales strategies and identify <br />
            development opportunities.
          </li>
          <li>Responsible for hiring potential staff for the sales team</li>
          <li>Organize and prepare sales reports on an annual basis</li>
          <li>Resolved conflicts or disciplinary issues</li>
          <li>Provide mentorship to new team members</li>
        </ul>
        <h3>
          Territorial Sales Manager, Biopro Pharma Corporation, <br />
          January 2008 – January 2015.
        </h3>
        <ul>
          <li>
            Developed relationships with new and existing clients or customers
          </li>
          <li>
            Identified opportunities that leads to increase our yearly sales
          </li>
          <li>
            Apply new sales strategies through data gathering from our
            competitor
          </li>
          <li>
            Proper data recording for an effective decision making <br />
            in dealing with clients
          </li>
          <li>
            Analyzed our sales reports to develop strategies to that <br />
            would improve sales revenue by 20% yearly
          </li>
        </ul>
      </div>
      <div class="skills">
        <h2>Skills</h2>
        <ul>
          <li>Time Management:💪💪💪💪💪</li>
          <li>Customer Relationship Management:💪💪💪💪💪</li>
          <li>Planning Management:💪💪💪💪💪</li>
        </ul>
      </div>
      <div class="award">
        <h2>Award and Certification</h2>
        <ul>
          <li>
            Top Sales Performer at Biopro Pharma Corporation <br />
            (2011-2015, 2018-present)
          </li>
        </ul>
      </div>
      <div class="footer">
        <footer>©️ Emmanuel Tanierla. All rights reserved.</footer>
      </div>
    </div>
  </body>
</html>
